body{
    background-color: #111111;
}

/* Helper classes */

$primaryTextColor: #FFFFFF;

@mixin PTSans($font-size: 18px, $font-weight: 700){
font-family: PT Sans;
font-size: $font-size;
font-weight: $font-weight;
}

@mixin Inter($font-size: 17px, $font-weight: 700){
 font-family: Inter;
 font-size: $font-size;
 font-weight: $font-weight;
}

%primaryBtn{
 border-radius: 27px;
 border: 1px solid #2D75B6;
 background-color: #2D75B6;
 color: $primaryTextColor;
 @include PTSans(20px);
 line-height: 22px;
}

%gridText{
    @include PTSans(18px, 400);
    line-height: 27px;
    color: $primaryTextColor;
    margin-left: 25px;
}

%gridTitle{
 @include PTSans(27px, 400);
 line-height: 38px;
 text-align: center;
 color: $primaryTextColor;
       
 span{
 @include PTSans(27px);
 }
}

%gridImg{
 width: 40px;
 height: 52px;
 padding-left: 22px;    
}


/* Main nav */

.main-nav {
    width: 1512px;
    height: 107px;
    background-color: #111111;

    ul {
        list-style: none;
        display: flex;
      }

      a{
        text-decoration: none;
      }
  }
  
  .main-nav__items {
    display: flex;
    width: 409px;
    height: 22px;
    margin: 42px 572px 42px 0px;
    gap: 76px;

    li{
        display: flex;
    }

    a{
        @include PTSans(18px);
        width: 42px;
        height: 22px;
        line-height: 22px;
        letter-spacing: 1px;
        color: $primaryTextColor;
    }

    svg{
        width: 9px;
        height: 14px;
        fill: #5da3e2;
        padding: 6px 0px 0px 15px;
       }
  }
  
.main-nav__media {
 display: flex;
 width: 108px;
 height: 30px;
 margin-left: 196px;
}

.main-nav__img{
 width: 165px;
 height: 45px;
 padding: 30px 190px 32px 174px;
}

  /* promotion bar */

.promotion-bar{
    width: 1512px;
    height: 59px;
    background-color: #C61111;
    color: $primaryTextColor;
    display: flex;

    h3{
    @include PTSans($font-size: 16px);
    line-height: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    }
}

.promotion-bar__section--left{
    display: flex;
    gap: 14px;
    margin: 17px 81px 17px 196px; 
}

.promotion-bar__section--right{
    margin: 17px 196px 17px 0px;
}

.promotion-bar__date{
 @include Inter(14px);
 line-height: 19px;
}

.promotion-bar__description{
 @include Inter(17px, 400);
}

.trailer-section{
    position: relative;

    img{
     width: 1512px;
     height: 845px; 
     z-index: 0;   
    }
}

/* Trailer section */
.trailer-section__content{
 width: 570px;
 height: 253px;
 position: absolute;
 top: 0;
 right: 0;
 margin: 187px 471px 346px 471px;
 text-align: center;

 img{
 width: 570px;
 height: 155px;
 z-index: 1;
 margin-bottom: 44px;
 }

 button{
 width: 239px;
 height: 54px;
 padding:  16px 47px 16px 46px;
 @extend %primaryBtn;
 }
}


/* About us*/
.about-us__content{
    text-align: center;
    width: 1512px;
    display: grid;
    grid-template-rows: repeat(2, 110px);
    grid-template-columns: 100px, 668px, 100px;
    row-gap: 32px;
    margin: 50px 0px 140px;
    
 h1{
 width: 548px;
 height: 108px;
 color: $primaryTextColor;
 @include PTSans(45px);
 line-height: 54px;
 grid-area: 1 / 2 / 1 / 2;
 align-self: flex-start;
 justify-self: center;

 }

 p{
 width: 667px;
 height: 81px;
 color: $primaryTextColor;
 @include PTSans(27px, 400);
 line-height: 41px;
 top: 169px;
 grid-area: 2 / 2 / 2 / 2;
 align-self: flex-start;
 justify-self: center;
 }
}

.about-us__stars-icon4{
    grid-area: 2 / 1 / 2 / 1;
    align-self: center;
    justify-self: end;  
}

.about-us__stars-icon2{
    grid-area: 1 / 3 / 1 / 3;
    align-self: center;
    justify-self: start;   
}

/* Awards*/

.awards{
 display: grid;
 grid-template-rows: (3, 356px);
 grid-template-rows: (3, 142px);
 gap: 26px;
 margin: 40px 183px 55px;

 div{
    background-color: #FFFFFF16;
    color: #D3C7B5DE;
    border-radius: 10px;
    text-align: center;
    padding: 33px 55px 28px;
 }

 h3{
    @include Inter(18px);
    line-height: 23px;
 }

 p{
    @include PTSans($font-size: 16px);
    line-height: 24px;
    margin-top: 10px;
 }
}

.awards__box1{
    grid-area: 1 / 1 / 2 / 2;
}

.awards__box-image{
    grid-area: 1 / 2 / 1 / 2;
    position: relative;

    img{
        width: 252px;
        height: 120px;
        position: absolute;
        top: -33px;
        left: 37px;
        right: 37px;
       }
   
       p{
           margin-top: 60px;
       }
}

.awards__box3{
    grid-area: 1 / 3 / 1 / 3;
}

.awards__box4{
    grid-area: 2 / 1 / 2 / 1;
}

.awards__box5{
    grid-area: 2 / 2 / 2 / 2;
}

.awards__box6{
    grid-area: 2 / 3 / 2 / 3;
}

.awards__box7{
    grid-area: 3 / 1 / 3 / 1;
}

/* Screenshots section*/

.screenshots-section{
 width: 1164px;
 height: 750px;
 margin: 68px 196px 67px;

 h2{
 @include PTSans(20px);
 line-height: 24px;
 letter-spacing: 2px;
 text-align: center;
 color: $primaryTextColor;
 margin-bottom: 32px;
 }
}

.screenshots-grid{
 display: grid;
 grid-template-rows: (3, 1fr);
 grid-template-rows: (3, 1fr);
 row-gap: 44px;
 column-gap: 36px;
}

.screenshoots__img1{
    grid-area: 1 / 1 / 2 / 2;
}

.screenshoots__img2{
    grid-area: 1 / 2 / 1 / 2;
}

.screenshoots__img3{
    grid-area: 1 / 3 / 1 / 3;
}

.screenshoots__img4{
    grid-area: 2 / 1 / 2 / 1;
}

.screenshoots__img5{
    grid-area: 2 / 2 / 2 / 2;
}

.screenshoots__img6{
    grid-area: 2 / 3 / 2 / 3;
}

.screenshoots__img7{
    grid-area: 3 / 2 / 3 / 2;
}

/* Play section*/

.play{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px, 721px, 200px;
    margin-left: 130px;
}

.play__icons--left{
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(2, 100px);

    .black-player{
        grid-area: 1 / 1 / 1 / 1;
    }

    .stars06{
        grid-area: 1 / 2 / 1 / 2;
        justify-self: end;
    }

    .green-player{
        grid-area: 2 / 2 / 2 / 2;
    }

    .stars06-repeat{
        grid-area: 3/1/3/1;
    }
}

.play__description{
    grid-area: 1/2/1/2;
    display: grid;
    grid-template-rows: 55px, 203px;
    grid-template-columns: 721px;
    row-gap: 0px;

    h2{
     @include PTSans(45px);
     color: $primaryTextColor;
     line-height: 54px;
     text-align: center;
     grid-area: 1/1/1/1;
    }

    p{
     @include PTSans(27px);
     line-height: 40.5px;
     text-align: center;
     color: $primaryTextColor;
     grid-area: 2/1/2/1;
     span{
        color: #FC4E73;
     }
    }
    
}

.play__icons--right{
    grid-area: 1/3/1/3;
    display: grid;
    grid-template-rows: repeat(3, 115px);
    grid-template-columns: repeat(2, 100px);

    .stars07{
        grid-area: 1/1/1/1;
    }

    .stars04{
        grid-area: 2/2/2/2;
    }

    .purple-player{
        grid-area: 3/2/3/2;
    }
}


/* Crew section*/
.crew{
 width: 1164px;
 height: 375px;
 margin-left: 174px;
 
 img{
   display: block; 
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 27px
 }

 h2{
    @extend %gridTitle;
 }

 div{
     
    p{
     @extend %gridText;
    }

    img{
        @extend %gridImg
    }    
 }

}

.crew-grid{
 width: 1152px;
 height: 175px;
 display: grid;
 grid-template-rows: 81px, 54px;
 grid-template-columns: repeat(3, 1fr);
 column-gap: 32px;
 row-gap: 24px;
 margin-top: 50px;

 div{
    display: flex;
 }

}

/* Impostor section*/

.impostor{
 width: 1164px;
 height: 378px;
 margin: 91px 174px 78px;
 position: relative;

 .impostor__img-stars{
 position: absolute;
 left: 133px;
 }

 .impostor__stars09{
    position: absolute;
    top: 167px;
    right: 0px;
    z-index: 0;
 }

 .impostor__red-star{
    position: absolute;
    top: 175px;
    right: 0px;
    width: 38.53px;
    height: 60.94px;
    transform: rotate(4deg);
    z-index: 1;
 }

 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
 }

 h2{
    @extend %gridTitle;
    margin-bottom: 36px;
 }

}

.impostor__grid{
 display: grid;
 grid-template-rows: repeat(2, 75px);
 grid-template-columns: repeat(3, 352px);
 column-gap: 32px;
 row-gap: 22px;

 div{
    display: flex;
 }

  p{
    @extend %gridText;
  }  

  img{
  @extend %gridImg
  }
}

.shop{
    position: relative;
}


.shop__content{
    position: absolute;
    top: 137px;
    left: 196px;

    h2{
     width: 308px;
     height: 50px;
     @include PTSans(41px);
     color: $primaryTextColor;
     line-height: 49px;
     margin-bottom: 22px;
    }

    p{
     width: 229px;
     height: 33px;
     @include PTSans(22px, 400);
     color: $primaryTextColor;
     line-height: 33px;
     margin-bottom: 33px;
    }

    button{
     width: 192px;
     height: 56px;
     padding: 15px 53px;
     @extend %primaryBtn;
    }
}






